<a href="https://colab.research.google.com/github/violigon/Ocean_Python_03_11_2020/blob/main/Ocean_Python_03_11_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Posso colocar qualquer texto que ele não será interpretado pela linguagem

print(1)
print("Paulo")
print(1.5)

1
Paulo
1.5

In [ ]:
# Variável -> Guardar uma informação para usar depois
# Armazena uma informação na memória RAM do computador

nome = "Paulo"

print(nome)

Paulo

In [ ]:
# Erros

nome = "Paulo"

print(nome)
print(20)
print(Teste)
print(55)

Paulo
20

NameError: ignored

In [ ]:
# Números e textos

# Número -> int (inteiros) e float (decimais)
# Texto -> string ou str
# Verdadeiro/Falso -> True ou False (bool) -> Booleano

In [ ]:
numero_int = 5
numero_float = 5.5
texto_str = "Paulo"
verdadeiro_bool = True
falso_bool = False

print(numero_int)
print(numero_float)
print(texto_str)
print(verdadeiro_bool)
print(falso_bool)

5
5.5
Paulo
True
False

In [ ]:
# Função type para checagem de tipos

idade = 25
nome = "João"
nivel_interesse_programacao = 9.4
usa_oculos = True

print(idade)
print(type(idade))
print(nome)
print(type(nome))
print(nivel_interesse_programacao)
print(type(nivel_interesse_programacao))
print(usa_oculos)
print(type(usa_oculos))

25
<class 'int'>
João
<class 'str'>
9.4
<class 'float'>
True
<class 'bool'>

In [ ]:
idade = 25

In [ ]:
# Comentário de UMA linha

'''
Comentário
de
várias
linhas
'''

"""
Comentário
com
aspas
duplas
"""

"""
Estou escrevendo um texto que vai me ajudar
a estudar a programação, ou um texto que fala
um pouco sobre o que esse trecho de código faz
"""

In [ ]:
print(5 + 2)
print(10 + 12)

7
22

In [ ]:
soma = 1 + 2
subtracao = 3 - 1
multiplicacao = 3 * 2
divisao = 5 / 3
divisao_int = 5 // 3

print(soma)
print(type(soma))

print(subtracao)
print(type(subtracao))

print(multiplicacao)
print(type(multiplicacao))

print(divisao)
print(type(divisao))

print(divisao_int)
print(type(divisao_int))

3
<class 'int'>
2
<class 'int'>
6
<class 'int'>
1.6666666666666667
<class 'float'>
1
<class 'int'>
1

# Exercício 1 - "E os 10% do garçom?"

- Defina uma variável para o valor de uma refeição que custou `R$ 42,54`;
- Defina uma variável para o valor da taxa de serviço que é de `10%`;
- Defina uma variável que calcula o valor total da conta e exiba-o no console (sem formatação, por enquanto, apenas o valor do resultado).

In [ ]:
valor_refeicao = 42.54
taxa_servico = 10

total_conta = valor_refeicao + valor_refeicao * 10 / 100

print(total_conta)

# Próximo passo: colocar R$ e formatar com apenas 2 casas decimais

46.794

In [ ]:
# Concatenação -> União de informações, porém, feita de maneira lógica, ou seja, que o PC entenda

valor_refeicao = 42.54
taxa_servico = 10

total_conta = valor_refeicao + valor_refeicao * 10 / 100

# print("R$ " + str(total_conta))

# Formatação

print(f"Sua refeição custou R$ {valor_refeicao}, mais a taxa de serviço de {taxa_servico}%.")
print(f"O valor total ficou de R$ {total_conta:.2f}.")

Sua refeição custou R$ 42.54, mais a taxa de serviço de 10%.
O valor total ficou de R$ 46.79.

In [ ]:
# Curiosidade, substituindo ponto de decimal por vírgula

total_com_virgula = f"R$ {total_conta:.2f}".replace(".", ",")

print(total_com_virgula)

R$ 46,79

In [ ]:
# Indentação e formatação dos blocos

def teste():
  print(1)
  print(2)


if True:
  print(3)
else:
  print(5)

print(3)
teste()

if True:
  print(4)

3
1
2
3
4

In [ ]:
print("paulo".upper())
print("NOME EM MINÚSCULO".lower())

frase = "essa é uma frase".capitalize()
print(frase)

nome = "paulo".capitalize()
sobrenome = "salvatore".capitalize()

qtde_caracteres = len(nome) + len(sobrenome) + 1

print(f"{nome} {sobrenome} possui {qtde_caracteres} caracteres.")

frase_titulo = "texto qualquer frase".title()
print(frase_titulo)

PAULO
nome em minúsculo
Essa é uma frase
Paulo Salvatore possui 15 caracteres.
Texto Qualquer Frase

In [ ]:
numero = 5.555555

print(f"R$ {numero:.2f}")

R$ 5.56

In [ ]:
# Para pegar a quantidade de caracteres, utilizamos o len()

# Capitalize -> Apenas a primeira letra da string maiúscula
# "paulo salvatore" vira "Paulo salvatore"
# "salvatore" vira "Salvatore"

# Title -> Todas as primeiras letras de cada palavra em uma frase viram maiúsculas
# "paulo salvatore" vira "Paulo Salvatore"

nome = "paulo".capitalize()
sobrenome = "salvatore".capitalize()

print(nome, len(nome))
print(sobrenome, len(sobrenome))

nome_completo = nome + " " + sobrenome

total = len(nome_completo)

print(nome_completo, total)

Paulo 5
Salvatore 9
Paulo Salvatore 15

In [ ]:
nome = input("Digite o seu nome: ")

print(f"Olá, {nome}")

Digite o seu nome: Yasmin
Olá, Yasmin

In [ ]:
idade = int(input("Quantos anos você tem? "))

print(idade)
print(type(idade))
print(f"Daqui 5 anos você terá {idade + 5}")

Quantos anos você tem? 50
50
<class 'int'>
Daqui 5 anos você terá 55

In [ ]:
texto = int('5')
print(texto, type(texto))

5 <class 'int'>

In [ ]:
"""
Exercício 2
Nome: Input de Informações
Objetivo: Receber dados do usuário, trabalhar com os valores e exibir para o usuário.
Dificuldade: Principiante
1 - Crie um programa que receba do usuário seu nome, idade e gênero;
2 - Exiba na tela seguinte mensagem: "Olá, {nome}, você possui {idade} anos de idade e é do gênero {genero}.";
3 - Exiba também: "Já pensou no que você fará no seu aniversário de {idade + 1} anos?.".

Adicionando uma pimentinha extra: "Se o usuário digitar idade 1, exiba apenas "ano" em vez de "anos".
"""